{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@babel"],
  "rules": {
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,

    // TODO: .defaultProps will be deprecated in React@19.
    // Remove this rule override once AirBnB ESLint config is updated.
    "react/require-default-props": 0
  }
}
