/.*
/__coverage__/
/__tests__/
/babel.*config.js
/bin/
/build/types-scss/
/config/
/docs/
/dr.pogodin-react-themes-*.tgz
eslint.config.mjs
/jest/
/src/
tsconfig*.json
tstyche.json
typed-scss-modules.config.ts
typings.d.ts
