defaults: &defaults
  docker:
    - image: cimg/node:lts

version: 2.1
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: node-modules-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: node-modules-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run build && npm pack
      - restore_cache:
          key: docs-node-modules-{{ checksum "docs/package-lock.json" }}
      - run:
          name: Documentation build
          command: npm install --force ../dr.pogodin-react-themes-*.tgz && npm install --force && npm run build
          working_directory: docs
      - save_cache:
          key: docs-node-modules-{{ checksum "docs/package-lock.json" }}
          paths:
            - docs/node_modules

      # TypeScript typechecks need docs dependencies installed.
      - run: npm test

      - run: rm -rf docs/node_modules
      - persist_to_workspace:
          root: .
          paths:
            - build
            - docs
  release:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./bin/release.sh

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-(alpha|beta)\.[0-9]+)?/
          requires:
            - test
