defaults: &defaults
  docker:
    - image: circleci/node:lts

version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: node-modules-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: node-modules-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
            - docs/node_modules
      - run: npm run build
      - run: npm test
      - run:
          name: Documentation build
          command: npm install && npm dedupe && npm run build && rm -rf node_modules
          working_directory: docs
      - persist_to_workspace:
          root: .
          paths:
            - build
            - docs
  release:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: ./bin/release.sh

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
          requires:
            - test
