/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.repoBadges {
  justify-content: center;
  display: flex;
  gap: 0.3em;
}

.whiteLink {
  color: white;
  text-decoration: underline;
}

.whiteLink:hover {
  color: orange;
}

.install {
  color: #333;
  text-decoration: none;

  &:hover { color: orange; }
}

.dark {
  .install {
    color: white;

    &:hover { color: orange; }
  }

  .whiteLink {
    color: black;

    &:hover { color: orange; }
  }
}

.main {
  padding: 1em;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.darkBackground {
  background-color: #030;
}

.redBackground {
  background-color: #f00;
}

.centerText {
  text-align: center;
}

.attention {
  background: palegreen;
  border: 1px solid green;
  color: black;
  padding: 0.3em 0.6em;
  text-align: left;
}
