*,
.context,
.ad.hoc {
  &.container {
    color: white;
    font-weight: bold;
  }

  &.headerCell {
    border-bottom: 1px solid;
    color: black;
  }

  &.sunday {
    color: lightgreen;
  }

  &.title {
    color: black;
  }

  &.today {
    color: blue;
  }
}